{% extends 'base.html' %}

{% block title %}
    {{title}} :: {{block.super}}
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<section class = "cards">
    {% for item in news %}
    <div class="card border-secondary">
        <div class="card-header text-secondary">
            {{forloop.counter}}
            {% if item.author %}
                <span>{{item.author}}</span>
            {% else %}
                <span>Unknown</span>
            {% endif %}
            <a href="{{ item.category.get_absolute_url }}">{{item.category}}</a>
        </div>

        <div class="card-body">
            {% if item.photo %}
            <img src="{{item.photo.url}}" class="card-img top" alt="...">
            {% else %}
            <img src="https://i.ibb.co/fYzs5N34/empty.jpg" class="card-img top" alt="...">
            {% endif %}

            <div class="card-description">
            <h5 class="card-title {%cycle 'text-warning' 'text-success'%}">{{item.title}}</h5>
            <p class="card-text">{{item.content}}</p>
            <a href="{{item.get_absolute_url}}" class="btn btn-primary d-grid gap-2">Читать полностью</a>
            </div>
        </div>

        <div class="card-footer text-secondary">
            {{item.created_at|date:"Y-m-d H:i:s"}}
        </div>
    </div>
    {% endfor %}
    </section>
    {% if page_obj.has_other_pages %}
    <nav class="list-pages mt-3">
        <ul class="pagination">
            {% for p in paginator.page_range %}
            {% if page_obj.number == p %}
            <li class="page-item">
                <a class="page-link text-secondary">{{ p }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a href="?page={{ p }}" class="page-link">{{ p }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>
    {% endif %}
{% endblock %}
