{% extends 'base.html' %}

{% block title %}
    Тестовая страница :: {{block.super}}
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
    <section class = "cards">
    {% for item in page_obj.object_list %}
        <p>{{item}}</p>
    {% endfor %}
    </section>
    {% if page_obj.has_other_pages %}
    <nav class="list-pages mt-3">
        <ul class="pagination">
            {% for p in page_obj.paginator.page_range %}
            {% if page_obj.number == p %}
                <li class="page-item">
                    <a class="page-link text-secondary">{{ p }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a href="?page={{ p }}" class="page-link">{{ p }}</a>
                </li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>
    {% endif %}
{% endblock %}
